.application {
  background-color: $color-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  @include background;
  background-position: 0 -67px;
  width: 320px;
  min-height: 666px;
}

.application__image {
  margin-top: 109px;
}

.application__link {
  @include flex;
  justify-content: center;
  align-items: center;
  @include link;
  font-weight: $font-bold;
  font-size: $body-font-size + 4px;
  line-height: $body-line-height - 6px;
  text-align: center;
  width: 280px;
  min-height: 30px;
  border: 3px solid $text-white;
  border-radius: 45px;
  margin: 21px 20px 0 20px;
  padding: 15px 5px 16px;
  box-sizing: border-box;
}

.application__list {
  @include list;
  @include flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 230px;
  margin: 31px auto 0;
}

.application__item {
  margin: 0 12px;
  width: 46px;
  height: 57px;
}

.application__description {
  margin: 7px 20px 0px;
  padding-bottom: 20px;
  color: $text-white;
  text-align: center;
}
