.button {
  display: inline-block;
  vertical-align: top;
  font-size: $body-font-size + 4px;
  line-height: $body-line-height + 6px;
  font-weight: $font-bold;
  text-transform: uppercase;
  width: 280px;
  min-height: 59px;
  padding: 16px 20px;
  border: none;
  color: $text-white;
  background-color: #2aab6d;
  cursor: pointer;
}
