.contacts {
  position: relative;
  min-height: 650px;
}

.contacts__wrapper-contacts {
  padding: 0 20px;
  padding-top: 18px;
  text-align: center;
  background-color: $text-white;
  z-index: 1;
}

.contacts__description {
  font-size: $body-font-size + 10px;
  line-height: $body-line-height + 6px;
  color: $color-light;
  margin-bottom: 30px;
}

.contacts__item-description {
  font-size: $body-font-size + 10px;
  line-height: $body-line-height + 6px;
  color: $text-pink;
  margin: 0;

  &--email {
    margin-bottom: 22px;
  }

  &--adress {
    margin-bottom: 15px;
  }

  &--tel {
    margin-bottom: 17px;
  }
}

.contacts__list {
  @include list;
  position: relative;
  padding-bottom: 22px;

  &::before {
    @include pseudo;
    bottom: -33px;
    left: -20px;
    width: 160px;
    height: 33px;
    background-image: linear-gradient(to right top, transparent 50%, white 50%);
  }

  &::after {
    @include pseudo;
    bottom: -33px;
    right: -20px;
    width: 160px;
    height: 33px;
    background-image: linear-gradient(to left top, transparent 50%, white 50%);
  }
}

.contacts__title {
  font-size: $body-font-size + 4px;
  line-height: $body-line-height + 4px;
  font-weight: $font-bold;
  color: $color-light;
  margin: 0;
}

.contacts__link {
  @include link(none, $text-pink);
  font-size: $body-font-size + 10px;
  line-height: $body-line-height + 6px;
}

.contacts__wrapper-map {
  min-height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px 645px;
  background-position: 0 -445px;
  background-repeat: no-repeat;
}

.map__iframe {
  width: 320px;
  height: 200px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts__description {
    font-size: $body-font-size + 26px;
    line-height: $body-line-height + 23px;
    margin: 0 50px 33px;
  }

  .contacts__list {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0px;

    &::before {
      bottom: -67px;
      left: -20px;
      width: 332px;
      height: 68px;
    }

    &::after {
      bottom: -67px;
      right: -20px;
      width: 332px;
      height: 68px;
    }
  }

  .contacts__item {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 31px;
    flex-grow: 1;
    box-sizing: border-box;

    &--tel {
      padding-right: 10px;
    }

    &--email {
      padding-left: 10px;
    }
  }

  .contacts__item-description,
  .contacts__title {
    width: 280px;
    margin: 0 auto;

    &--email {
      margin-top: 4px;
    }
  }

  .contacts__title {
    margin-bottom: 2px;
  }

  .contacts__wrapper-map {
    min-height: 372px;
    margin-top: 0px;
  }

  .map__iframe {
    width: 660px;
    height: 372px;
    border: 0;
  }
}
