.features {
  @include background;
  padding-top: 40px;
}

.features__description {
  font-size: $body-font-size + 10px;
  line-height: $body-line-height + 5px;
  text-align: center;
  color: $color-light;
  margin: 0 20px 29px;
}

.features__list {
  @include list;
  position: relative;
  text-align: center;
  margin: 63px 0 0;
  padding: 32px 0 9px;
  background-color: $background-color;

  &::before {
    @include pseudo;
    top: -31px;
    left: 0;
    width: 320px;
    height: 31px;
    background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
  }
}

.features__item {
  margin: 0 30px;
}

.features__title {
  font-weight: $font-bold;
  font-size: $body-font-size + 4px;
  color: $color-light;
  margin-bottom: 5px;
}

.features__list-description {
  font-weight: $font-normal;
  color: $color-light;
  margin-top: 12px;
  margin-bottom: 31px;
}

.features__list-description br {
  display: none;
}

.features__image {
  margin: 0 auto;
  width: 157px;
  height: 320px;
}

.features__wrapper-image {
  @include flex;
  margin: 0;
  background-color: $background-color;
}

@media (min-width: $tablet-width) {
  .features__description {
    font-size: $body-font-size + 26px;
    line-height: $body-line-height + 24px;
    margin: 10px 20px 0;

    &--last {
      margin: 0 60px;
    }
  }

  .features__wrapper {
    @include flex(flex, row-reverse);
    position: relative;
    background-color: $background-color;
    min-height: 431px;
    margin-top: 100px;
    margin-bottom: 50px;

    &::before {
      @include pseudo;
      top: -54px;
      left: 0;
      width: 660px;
      height: 54px;
      background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
    }
  }

  .features__list {
    width: 330px;
    text-align: left;
    margin-top: 9px;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .features__item {
    margin-left: 0;
    margin-right: 20px;
  }

  .features__title {
    line-height: $body-line-height - 14px;
    margin-bottom: 19px;
  }

  .features__list-description {
    margin-bottom: 41px;
  }

  .features__list-description br {
    display: block;
  }

  .features__wrapper-image {
    width: 300px;
    margin-top: 90px;
  }
}

@media (min-width: $desktop-width) {
  .features__description {
    font-size: $body-font-size + 36px;
    line-height: $body-line-height + 36px;
    margin: 28px 20px 0;

    &--last {
      margin: 0 250px;
    }
  }

  .features__wrapper {
    background-image: linear-gradient(to right, lightblue);

    position: relative;
//    background-color: $background-color;
    background-color: white;
    min-height: 431px;
    margin-top: 100px;
    margin-bottom: 50px;

    &::before {
      display: none;
      @include pseudo;
      top: -54px;
      left: 0;
      width: 660px;
      height: 54px;
      background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
    }
  }

  .features__wrapper-image {
    width: 300px;
    margin-top: 90px;
    background-color: white;
    z-index: 0;
  }
}
