.filter {
  @include flex;
  padding: 20px 22px 0 18px;
  margin: 7px 2px 1px 0;
  background-color: $background-color;
}

.filter__form {
  position: relative;
}

.filter__form input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.filter__image {
  margin-bottom: 32px;
}

.filter__list {
  @include list;
  @include flex;
  align-items: center;
  margin: 0 28px 0 19px;
}

.filter__item label {
  margin: 0 18px 0 17px;
  cursor: pointer;
}

.filter__list-image {
  opacity: 0.3;

  &--size {
    width: 48px;
    height: 48px;
  }

  &--color {
    width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-right: 5px;
  }

  &--opacity {
    width: 32px;
    height: 32px;
  }
}

.filter__range-list {
  @include list;
}

.filter__form input[type="range"] {
  width: 86%;
  margin: 20px 20px 0 20px;
}

.filter__buttons {
  @include flex(flex, column);
  min-height: 115px;
  padding: 36px 0 29px;
  margin-top: 20px;
}

.filter__button {
  font-size: $body-font-size + 4px;
  line-height: $body-line-height - 6px;
  font-weight: $font-bold;
  width: 280px;
  min-height: 55px;
  padding: 3px 10px 7px;
  margin-bottom: 12px;
  color: $text-pink;
  background-color: transparent;
  border: 3px solid $text-pink;
  border-radius: 30px;
  cursor: pointer;

  &--reset {
    color: rgba($color-light, 0.1);
    border: 3px solid rgba($color-light, 0.1);
  }
}

//стили для управления range слайдером

.filter input[type="radio"]:nth-of-type(1):checked ~ .filter__list .filter__list-image--size,
.filter input[type="radio"]:nth-of-type(2):checked ~ .filter__list .filter__list-image--color,
.filter input[type="radio"]:nth-of-type(3):checked ~ .filter__list .filter__list-image--opacity {
  fill: #d22856;
  opacity: 1;
}

.filter__range-wrapper .slider__item {
  display: none;
}

.filter input[type="radio"]:nth-of-type(1):checked ~ .filter__range-wrapper .slider__item--first {
  display: block;
}

.filter input[type="radio"]:nth-of-type(2):checked ~ .filter__range-wrapper .slider__item--second {
  display: block;
}

.filter input[type="radio"]:nth-of-type(3):checked ~ .filter__range-wrapper .slider__item--third {
  display: block;
}
