.possibility {
  min-height: 325px;
  text-align: center;
  margin-top: -20px;
}

.possibility__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 -60px;
  background-repeat: no-repeat;
  background-size: 320px 462px;
}

.possibility__title {
  font-size: $body-font-size + 10px;
  line-height: $body-line-height + 6px;
  font-weight: $font-light;
  color: $text-white;
  padding: 33px 20px 48px;
}

.possibility__description {
  font-size: $body-font-size;
  line-height: $body-line-height + 6px;
  color: $color-light;
  background-color: $text-white;
  padding: 52px 20px 20px;
}
