.post {
  @include flex(flex, column);
}

.post__image {
  margin: 0 auto;
  padding: 0;
}

.post__caption {
  margin: 0 20px 20px;
  padding: 0;
  background-color: $background-color;
}

.post__title {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-bold;
  color: $color-light;
  padding: 4px 18px 0;
  margin-bottom: 0;
}

.post__time {
  font-size: $body-font-size - 2px;
  line-height: $body-line-height;
  font-weight: $font-light;
  color: #818181;
  text-transform: uppercase;
  padding-left: 1px;
}

.post__description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $color-light;
  padding: 0 18px;
  margin: 0;
}

.post__likes {
  position: relative;
  font-size: $body-font-size - 2px;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $text-pink;
  text-transform: uppercase;
  padding-left: 50px;
  padding-bottom: 19px;
  margin: 0;
  margin-top: 10px;

  &::before {
    @include pseudo;
    background-image: url("../img/svg/icon-heart.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 5px;
    left: 18px;
    width: 13px;
    height: 12px;
  }
}
